<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.elead.organ.mapper.OrganizationMapper">
    
    <insert id="addOrganization"  parameterType="com.elead.organ.model.Organization" useGeneratedKeys="true"  keyProperty="id">
       <![CDATA[
		insert into ms_organization (name, parentid, sort, createDeptGroup, deptHiding, deptPerimits, userPerimits, outerDept, outerPermitDepts, outerPermitUsers)
				values(#{name}, #{parentid}, #{sort}, #{createDeptGroup}, #{deptHiding}, #{deptPerimits}, #{userPerimits}, #{outerDept}, 
				#{outerPermitDepts}, #{outerPermitUsers})
       ]]>
   </insert>
   
   <select id="findAllEnabledOrganizations"  resultType="com.elead.organ.model.Organization">
   			select * from ms_organization where enabled = true
   </select>
   
</mapper>
